@{
    ViewData["Title"] = "Home Page";
}

<h3 class="text-center">Εργασια 1 - Υπηρεσιοστρεφές Λογισμικό</h3><br />

<div class="text-center">
    <p>ΕΥΑΓΓΕΛΟΣ ΚΟΥΡΑΚΟΣ - Π21073 </p>
    <p>ΣΤΕΦΑΝΟΣ ΔΕΡΜΕΝΤΖΟΥΔΗΣ  - Π21025</p>
</div>
